In [1]:
import numpy as np
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import pandas_profiling

from matplotlib import rcParams
import warnings

warnings.filterwarnings("ignore")

In [2]:
from google.colab import files
uploaded = files.upload()

Saving mort_table_1_2015_2019.csv to mort_table_1_2015_2019 (5).csv

DATASET LINK:https://data.gov.au/data/dataset/mort-books/resource/a5de4e7e-d062-4356-9d1b-39f44b1961dc

In [3]:
import io

In [41]:
df= pd.read_csv(io.BytesIO(uploaded['mort_table_1_2015_2019.csv']))

In [42]:
df.head()

   mort         category  ... pad_percent  pad_asr_per_100,000
0  REM1  Remoteness area  ...        51.3                127.1
1  REM1  Remoteness area  ...        51.2                121.7
2  REM1  Remoteness area  ...        51.3                122.6
3  REM1  Remoteness area  ...        49.7                115.1
4  REM1  Remoteness area  ...        50.1                117.3

[5 rows x 19 columns]

BASIC PREPROCESSING AND MANIPULATION

In [43]:
df.describe()

               year  crude_rate_per_100,000  ...   pad_percent  pad_asr_per_100,000
count  15795.000000            15542.000000  ...  12800.000000          9644.000000
mean    2017.000000              725.076052  ...     50.650164           119.056740
std        1.414258              257.086218  ...      7.744214            48.889171
min     2015.000000               21.800000  ...      7.700000            29.500000
25%     2016.000000              542.825000  ...     46.400000            83.800000
50%     2017.000000              699.500000  ...     50.200000           110.800000
75%     2018.000000              889.400000  ...     54.500000           144.800000
max     2019.000000             2072.500000  ...     95.500000           483.100000

[8 rows x 10 columns]

In [44]:
del df['mort']
del df['rate_ratio']

In [45]:
d={'category':'Areas','geography':'Regions','sex':'Gender','deaths':'Fatalities','population':'Inhabitants','crude_rate_per_100,000':'Fatalities_per_100000','age_standardised_rate_per_100,000':'Age_std_mortality','median_age':'MeanAge','premature_deaths':'PrematureFatalities','premature_deaths_percent':'PrematureFatalitiesPercent','premature_deaths_asr_per_100,000':'PrematureFatalityASR','potential_years_of_life_lost':'PotentialLifeLost','pyll_rate_per_1,000':'PLLper1000','potentially_avoidable_deaths':'PotentialAvoidableFatalities','pad_percent':'PAFpercent','pad_asr_per_100,000':'PAF_ASRper100000'}

In [46]:
df.rename(columns=d, inplace=True)

In [47]:
df

                             Areas  ... PAF_ASRper100000
0                  Remoteness area  ...            127.1
1                  Remoteness area  ...            121.7
2                  Remoteness area  ...            122.6
3                  Remoteness area  ...            115.1
4                  Remoteness area  ...            117.3
...                            ...  ...              ...
15790  Local Government Area (LGA)  ...            110.8
15791  Local Government Area (LGA)  ...            107.3
15792  Local Government Area (LGA)  ...            107.1
15793  Local Government Area (LGA)  ...            102.5
15794  Local Government Area (LGA)  ...            103.1

[15795 rows x 17 columns]

In [48]:
df.fillna(df.median())

                             Areas  ... PAF_ASRper100000
0                  Remoteness area  ...            127.1
1                  Remoteness area  ...            121.7
2                  Remoteness area  ...            122.6
3                  Remoteness area  ...            115.1
4                  Remoteness area  ...            117.3
...                            ...  ...              ...
15790  Local Government Area (LGA)  ...            110.8
15791  Local Government Area (LGA)  ...            107.3
15792  Local Government Area (LGA)  ...            107.1
15793  Local Government Area (LGA)  ...            102.5
15794  Local Government Area (LGA)  ...            103.1

[15795 rows x 17 columns]

In [49]:
df['Areas'].unique()

array(['Remoteness area', 'Socioeconomic group', 'State and territory',
       'Greater Capital City Statistical Areas (GCCSA)',
       'Primary Health Network (PHN)', 'Statistical Area Level 4 (SA4)',
       'Statistical Area Level 3 (SA3)', 'Local Government Area (LGA)'],
      dtype=object)

In [50]:
df['Regions'].unique()

array(['Major Cities of Australia', 'Inner Regional Australia',
       'Outer Regional Australia', ..., 'Unincorporated NT',
       'Unincorporated ACT', 'Unincorp. Other Territories'], dtype=object)

In [51]:
df['year'].unique()

array([2015, 2016, 2017, 2018, 2019])

In [52]:
from sklearn.preprocessing import LabelEncoder

In [53]:
labelencoder=LabelEncoder()
df['Area Code']=labelencoder.fit_transform(df['Areas'])
df['Year Code']=labelencoder.fit_transform(df['year'])
df['Gender Code']=labelencoder.fit_transform(df['Gender'])

In [54]:
df.insert(1,'Area Code',df.pop('Area Code'))
df.insert(3,'Year Code',df.pop('Year Code'))
df.insert(5,'Gender Code',df.pop('Gender Code'))

In [55]:
df

                             Areas  Area Code  ... PAFpercent  PAF_ASRper100000
0                  Remoteness area          3  ...       51.3             127.1
1                  Remoteness area          3  ...       51.2             121.7
2                  Remoteness area          3  ...       51.3             122.6
3                  Remoteness area          3  ...       49.7             115.1
4                  Remoteness area          3  ...       50.1             117.3
...                            ...        ...  ...        ...               ...
15790  Local Government Area (LGA)          1  ...       51.0             110.8
15791  Local Government Area (LGA)          1  ...       50.8             107.3
15792  Local Government Area (LGA)          1  ...       50.8             107.1
15793  Local Government Area (LGA)          1  ...       49.6             102.5
15794  Local Government Area (LGA)          1  ...       49.6             103.1

[15795 rows x 20 columns]

In [56]:
df.insert(8,'Percentage:Hypertension',np.random.uniform(10,12,df.shape[0]))
df.insert(9,'Percentage:Diabetes',np.random.uniform(4,6,df.shape[0]))

In [57]:
df

                             Areas  Area Code  ... PAFpercent  PAF_ASRper100000
0                  Remoteness area          3  ...       51.3             127.1
1                  Remoteness area          3  ...       51.2             121.7
2                  Remoteness area          3  ...       51.3             122.6
3                  Remoteness area          3  ...       49.7             115.1
4                  Remoteness area          3  ...       50.1             117.3
...                            ...        ...  ...        ...               ...
15790  Local Government Area (LGA)          1  ...       51.0             110.8
15791  Local Government Area (LGA)          1  ...       50.8             107.3
15792  Local Government Area (LGA)          1  ...       50.8             107.1
15793  Local Government Area (LGA)          1  ...       49.6             102.5
15794  Local Government Area (LGA)          1  ...       49.6             103.1

[15795 rows x 22 columns]

In [58]:
df.drop("PotentialAvoidableFatalities",inplace=True,axis=1)

In [59]:
df.drop("Areas",inplace=True,axis=1)
df.drop("Regions",inplace=True,axis=1)
df.drop("year",inplace=True,axis=1)
df.drop("Gender",inplace=True,axis=1)

In [60]:
df.drop("PAF_ASRper100000",inplace=True,axis=1)

In [61]:
df["Fatalities"]=df["Fatalities"].str.replace(',', '').astype(float)
df["Inhabitants"]=df["Inhabitants"].str.replace(',', '').astype(float)
df["PrematureFatalities"]=df["PrematureFatalities"].str.replace(',', '').astype(float)
df["PotentialLifeLost"]=df["PotentialLifeLost"].str.replace(',', '').astype(float)

In [62]:
df.dropna()

       Area Code  Year Code  ...  PLLper1000  PAFpercent
0              3          0  ...        44.0        51.3
1              3          1  ...        42.1        51.2
2              3          2  ...        41.5        51.3
3              3          3  ...        40.5        49.7
4              3          4  ...        43.7        50.1
...          ...        ...  ...         ...         ...
15790          1          0  ...        40.4        51.0
15791          1          1  ...        39.1        50.8
15792          1          2  ...        38.4        50.8
15793          1          3  ...        37.4        49.6
15794          1          4  ...        40.0        49.6

[11400 rows x 16 columns]

In [63]:
df['Percentage:Hypertension']=df['Percentage:Hypertension'].round(decimals=3)
df['Percentage:Hypertension']=df['Percentage:Diabetes'].round(decimals=3)

In [64]:
df =df.replace([np.inf, -np.inf], np.nan).dropna(axis=0)

In [65]:
df=df.round(0).astype(int)

Running Random Forest on original data(try to get <70% accuracy)
AFTER SOME BASIC MANIPULATION

In [66]:
X = df.drop("PAFpercent",1)   #Feature Matrix
y = df["PAFpercent"]          #Target Variable

In [67]:
np.isnan(X)

       Area Code  Year Code  ...  PotentialLifeLost  PLLper1000
0          False      False  ...              False       False
1          False      False  ...              False       False
2          False      False  ...              False       False
3          False      False  ...              False       False
4          False      False  ...              False       False
...          ...        ...  ...                ...         ...
15790      False      False  ...              False       False
15791      False      False  ...              False       False
15792      False      False  ...              False       False
15793      False      False  ...              False       False
15794      False      False  ...              False       False

[11400 rows x 15 columns]

In [68]:
np.where(np.isnan(X))

(array([], dtype=int64), array([], dtype=int64))

In [69]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.20, random_state=42)

In [70]:
X_train=X_train.fillna(0)

In [71]:
y_train=y_train.fillna(0)

In [72]:
X_train

       Area Code  Year Code  ...  PotentialLifeLost  PLLper1000
5356           6          1  ...               2425          27
13526          1          1  ...               3983          57
536            0          1  ...             139292          32
4835           6          0  ...                425          22
11001          1          1  ...                575          38
...          ...        ...  ...                ...         ...
15574          1          4  ...               2270          43
5493           6          3  ...                681          55
5722           6          2  ...                326          43
925            2          0  ...               7572          66
7811           1          1  ...                549         100

[9120 rows x 15 columns]

In [78]:
clf = RandomForestClassifier(n_estimators = 200)

In [79]:
clf.fit(X_train, y_train)
 
y_pred = clf.predict(X_test)
 

from sklearn import metrics 
print()
 

print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.2675438596491228

In [77]:
df.to_csv('finaldata.csv')